[dev-packages]
jupyterlab = "*"
ipykernel = "*"
mypy = "*"
pytest-dotenv = "*"
pytest-mock = "*"
pytest-xdist = "*"
pytest-pythonpath = "*"
pytest-cov = "*"
pytest-env = "*"
coverage = "*"
pre-commit = "*"
isort = "*"
#sphinx = "*"

[packages]
black = "*"
pylama = "*"
bandit = "*"
rasterio = "*"
numpy = "*"
geopandas = "*"
matplotlib = "*"
shapely = "*"
ipykernel = "*"
joblib = "*"
tqdm = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
